In [3]:
# Ques. 1
# Ans
marks=int(input("Enter your marks"))
if marks>90:
    print("you will be a part of A batch")
elif marks>80 and marks<=90:
    print("you will be a part of B batch")
elif marks<=60 and marks<=80:
    print("you eill be a part of C batch")
else : 
    print("you will be a part of D batch")

Enter your marks 91

you will be a part of A batch

In [12]:
#Ques.2
#Ans
cost=int(input("Enter your cost"))
if cost>100000:
    print("you will charge 15% tax")
elif cost >50000 and cost <=100000:
    print("you will charge 10% tax")
else : 
    print("you will charge 5% tax")

Enter your cost 69000

you will charge 10% tax

In [11]:
#Ques.3
#Anas
city=str(input("Enter city name"))
if city == 'delhi':
    print("monuments is red fort")
elif city == 'agra' : 
    print("monuments is taj mahal")
elif city == 'jaipur' : 
    print("monuments is jal mahal")
else : 
    pass

Enter city name agra

monuments is taj mahal

In [35]:
#Ques.4
#Ans
num=int(input("enter number="))
count=0
while num>10:
        num=num/3;
        count+=1
print('number of times=',count)

enter number= 13

number of times= 1

In [36]:
#Ques.5
#Ans 
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [37]:
#Ques.6
#pattern_1
e=10
while e>=1:
    f=1
    while f<=e:
        print(f,end='')
        f=f+1
    print(" ")
    e=e-1

12345678910
123456789
12345678
1234567
123456
12345
1234
123
12
1

In [38]:
#Pattern_2
i=1
while i<=5:
    l=1
    while (l<=i):
        print(l,end='')
        l=l+1
    print(" ")
    i=i+1

1
12
123
1234
12345

In [40]:
#initilize variable
i=1
j=1
#while loop
while i<10:
    #nested while
    while j<10:
        #printed star with 1,2 it
        print("*",end="1,2")
        #increment j by 1
        j+=1
    #print new line
    print()
    #reset value of j
    j=1
    #increment value of i by 1
    i+=1

*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2
*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2
*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2
*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2
*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2
*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2
*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2
*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2
*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2*1,2

In [44]:
#Ques.7
#Ans
num_1=10
num_2=0
while num_1>=num_2:
    print(num_1)
    num_1-=1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#Ques.8
#Ans
TEN=1
ONE=10
while ONE>=TEN :
    print(ONE)
    ONE-=1